@model MVC_ODEV1.ViewModels.HouseKeeperVM
@{
    ViewBag.Title = "AddHouseKeeper";
}

<h2>AddHouseKeeper</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.TextBoxFor(x => x.FirstName, new { placeholder = "İsim giriniz" })
    </div>
    <br />
    <div>
        @Html.TextBoxFor(x => x.LastName, new { placeholder = "Soyisim giriniz" })
    </div>
    <div>
        <button>Ekle</button>
    </div>


}

