@model  MVC_ODEV1.ViewModels.CustomerVM
@{
    ViewBag.Title = "UpdateCustomer";
}

<h2>UpdateCustomer</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.TextBoxFor(x => x.FirstName)
    </div>
    <br />
    <div>
        @Html.TextBoxFor(x => x.LastName)
    </div>
    <br />
    <div>
        <button>Güncelle</button>
    </div>
}

